@import "tailwindcss";


@theme {
  --color-primary: #F4F4F4;
  --color-secondary: #0D0D0D;
  --color-accent: #E61915;
}

    /* Customize the entire scrollbar */
    ::-webkit-scrollbar {
        width: 5px; /* Adjust as needed */
    }

    /* Customize the scrollbar track (the background) */
    ::-webkit-scrollbar-track {
        background-color: transparent; /* Light gray track */
    }

    /* Customize the scrollbar thumb (the draggable part) */
    ::-webkit-scrollbar-thumb {
        background-color: #888; /* Dark gray thumb */
        border-radius: 5px; /* Rounded corners for the thumb */
    }

    /* Optional: Style on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Darker gray on hover */
    }